* { margin: 0; padding: 0; box-sizing: border-box; max-width: 1920px; margin: 0 auto; }

.clearfix::after { content: ""; display: block; clear: both; }

header { position: relative; background-color: #fff; height: 100vh; overflow: hidden; border-bottom: 3px solid olivedrab; }

header > * { position: absolute; }

header img { position: absolute; height: 110vh; top: 25%; left: 2%; }

header div.welcome { z-index: 1; top: 5%; left: 5%; right: 5%; text-align: center; font-family: 'Saira Extra Condensed', sans-serif; font-size: 40px; font-weight: bold; text-transform: uppercase; }

header p { color: #2c3e50; }

header h1 { font-size: 20px; margin-top: 15px; color: #34495e; }

header h2 { font-size: 20px; font-weight: normal; color: #34495e; }

header button { font-family: 'Saira', sans-serif; font-weight: 300; line-height: 32px; padding: 0 20px; text-transform: uppercase; color: #34495e; background-color: transparent; font-size: 12px; border: 2px solid #e74c3c; }

@media (orientation: landscape) { header div.welcome { top: 15%; right: 5%; left: 58%; }
  header button { margin-top: 40px; }
  header img { height: 160vh; top: -10%; left: 2%; } }

@media (orientation: portrait) and (min-width: 320px) { header img { top: 25%; right: 0; left: -6%; } }

@media (orientation: portrait) and (min-width: 360px) { header h1 { font-size: 24px; }
  header h2 { font-size: 24px; }
  header button { line-height: 42px; padding: 0 20px; font-size: 14px; margin-top: 22px; }
  header img { height: 115vh; top: 20%; left: -5%; } }

@media (orientation: portrait) and (min-width: 375px) and (min-height: 812px) { header div.welcome { top: 10%; }
  header button { line-height: 42px; padding: 0 20px; font-size: 14px; margin-top: 22px; }
  header img { height: 105vh; top: 20%; left: -12%; } }

@media (orientation: portrait) and (min-width: 375px) and (min-height: 812px) { header img { height: 110vh; top: 22%; left: -15%; } }

@media (orientation: landscape) and (min-width: 640px) { header div.welcome { top: 25%; right: 1%; left: 58%; }
  header p { font-size: 40px; }
  header h1 { font-size: 26px; }
  header h2 { font-size: 26px; }
  header button { font-size: 16px; line-height: 40px; }
  header img { left: -6%; } }

@media (orientation: portrait) and (min-width: 768px) and (min-height: 1024px) { header div.welcome { top: 5%; right: 0; }
  header p { font-size: 50px; }
  header h1 { font-size: 34px; }
  header h2 { font-size: 34px; }
  header button { line-height: 56px; padding: 0 26px; font-size: 24px; margin-top: 28px; }
  header img { height: 130vh; top: 12%; left: 2%; } }

@media (orientation: landscape) and (min-width: 1024px) { header div.welcome { top: 20%; right: 1%; left: 60%; }
  header p { font-size: 40px; }
  header h1 { font-size: 30px; }
  header h2 { font-size: 30px; }
  header button { font-size: 18px; line-height: 60px; transition: .3s; }
  header button:hover { color: #fff; background-color: #111; cursor: pointer; border: 2px solid #111; }
  header img { height: 170vh; top: -18%; left: -5%; } }

@media (orientation: landscape) and (min-width: 1280px) { header p { font-size: 86px; }
  header h1 { font-size: 50px; }
  header h2 { font-size: 50px; }
  header button { margin-top: 50px; font-size: 30px; line-height: 80px; padding: 0 20px; border-width: 2px; } }

@media (orientation: landscape) and (min-width: 1600px) { header p { font-size: 96px; }
  header h1 { font-size: 60px; }
  header h2 { font-size: 60px; }
  header button { line-height: 85px; } }

section.features { max-width: 1600px; margin: 50px auto 0; text-align: center; }

section.features h1 { font-family: 'Saira Extra Condensed', sans-serif; font-size: 26px; text-transform: uppercase; margin-bottom: 15px; }

section.features h2 { font-family: 'Saira Extra Condensed', sans-serif; font-size: 22px; text-transform: uppercase; }

section.features img { width: 100%; margin: 65px 0; max-width: 375px; }

section.features p { font-family: 'Saira', sans-serif; font-size: 18px; font-weight: 300; margin: 20px 0; }

@media (min-width: 360px) and (orientation: portrait) { section.features h1 { font-size: 28px; }
  section.features h2 { font-size: 24px; }
  section.features p { font-size: 15px; } }

@media (min-width: 768px) and (orientation: portrait) { section.features h1 { font-size: 36px; }
  section.features h2 { font-size: 28px; }
  section.features p { font-size: 18px; } }

@media (min-width: 1024px) { section.features { padding: 5% 2%; }
  section.features .feature { float: left; width: 33%; padding: 30px; }
  section.features h1 { font-size: 36px; }
  section.features h2 { font-size: 22px; }
  section.features p { font-size: 16px; } }

@media (min-width: 1366px) { section.features h1 { font-size: 56px; }
  section.features h2 { font-size: 36px; }
  section.features p { font-size: 23px; } }

@media (min-width: 1600px) { section.features .feature { padding: 20px 40px; }
  section.features h1 { font-size: 60px; }
  section.features h2 { font-size: 36px; }
  section.features p { font-size: 21px; } }

section.portfolio { background-color: #000; color: #fff; padding: 15px 0 30px; }

section.portfolio > h1 { font-size: 25px; font-family: 'Saira Extra Condensed', sans-serif; text-transform: uppercase; color: #fff; text-align: center; padding: 10px 20px; margin-bottom: 15px; }

section.portfolio .web img { width: 100%; max-width: 780px; }

section.portfolio .about { font-family: 'Saira', sans-serif; font-weight: normal; padding: 10px 20px 20px 0; text-align: left; }

section.portfolio h2 { font-size: 18px; border-bottom: 2px solid #fff; margin-bottom: 12px; padding-bottom: 6px; text-indent: 20px; text-transform: uppercase; }

section.portfolio p { font-size: 12px; padding-left: 20px; }

section.portfolio .project { max-width: 1400px; margin: 0 auto 20px; cursor: pointer; }

section.portfolio .project:nth-of-type(odd) { background-color: orangered; }

section.portfolio .project:nth-of-type(even) { background-color: deepskyblue; }

@media (orientation: landscape) { section.portfolio .web, section.portfolio .about { width: 50%; float: left; }
  section.portfolio img { display: block; height: 33vh; }
  section.portfolio .project:nth-of-type(even) .web { float: right; }
  section.portfolio .project:nth-of-type(even) .about h2 { text-indent: 0; margin-left: 40px; }
  section.portfolio .project:nth-of-type(even) .about { padding-right: 0; }
  section.portfolio .project:nth-of-type(even) .about p { padding-right: 20px; } }

@media (orientation: landscape) and (min-width: 1024px) { section.portfolio > h1 { font-size: 65px; padding: 35px 0; } }

@media (orientation: landscape) and (min-width: 1400px) { section.portfolio > h1 { font-size: 60px; padding: 30px 0; }
  section.portfolio h2 { padding-top: 50px; font-size: 28px; text-indent: 40px; margin-bottom: 50px; }
  section.portfolio p { font-size: 18px; padding-left: 40px; line-height: 180%; }
  section.portfolio .project { margin-bottom: 40px; }
  section.portfolio img { height: 35.6vh; } }

@media (orientation: landscape) and (max-width: 533px) and (max-height: 320px) { section.portfolio .web, section.portfolio .about { height: 65vh; }
  section.portfolio > h1 { font-size: 32px; }
  section.portfolio img { height: 65vh; } }

@media (min-width: 768px) { section.portfolio > h1 { font-size: 40px; }
  section.portfolio h2 { font-size: 28px; text-indent: 40px; }
  section.portfolio p { font-size: 18px; padding-left: 40px; }
  section.portfolio .project { margin-bottom: 40px; } }

@media (min-width: 320px) and (orientation: portrait) { section.portfolio .link.active { position: fixed; top: 0; left: 0; width: 120px; height: 120px; background-color: red; } }

#wrapper.blur { filter: blur(2px); }

.modal-wrap { display: none; }

section.modal-wrap.active { display: block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); }

section.modal-wrap.active .modal { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 40%; height: 60%; background-color: rgba(0, 0, 0, 0.7); border: 2px solid white; }

section.modal-wrap.active .modal span.close { position: absolute; top: 3%; right: 2%; font-size: 30px; background-color: #fff; width: 40px; height: 40px; text-align: center; line-height: 40px; border-radius: 50%; }

section.modal-wrap.active .modal img { z-index: 0; position: fixed; left: 8.5%; top: 0; }

section.modal-wrap.active .modal i.fa-times-circle { font-size: 14px; }

@media (orientation: portrait) and (min-height: 533px) { section.modal-wrap.active .modal { width: 95%; height: 23%; }
  section.modal-wrap.active .modal span.close { top: 3%; right: 1%; width: 18px; height: 18px; }
  section.modal-wrap.active .modal img { width: 83%; left: 8.5%; top: 0; }
  section.modal-wrap.active .modal .getGit { position: absolute; top: 101%; right: 0; left: -.6%; width: 101.3%; height: 35px; text-align: center; line-height: 28 px; background-color: red; text-decoration: none; color: #fff; font-family: 'Saira', sans-serif; border-bottom-left-radius: 50%; border-bottom-right-radius: 50%; }
  section.modal-wrap.active .modal i.fa-times-circle { position: absolute; font-size: 15px; top: 15%; right: 10.1%; } }

@media (orientation: portrait) and (min-width: 320px) and (min-width: 568px) { section.modal-wrap.active .modal { height: 25.4%; }
  section.modal-wrap.active .modal span.close { top: 3%; right: 1%; width: 18px; height: 18px; }
  section.modal-wrap.active .modal i.fa-times-circle { font-size: 15px; top: 12%; right: 10%; } }

@media (orientation: portrait) and (min-width: 360px) { section.modal-wrap.active .modal { height: 25%; }
  section.modal-wrap.active .modal span.close { top: 3%; right: 1.3%; width: 20px; height: 20px; }
  section.modal-wrap.active .modal i.fa-times-circle { font-size: 16px; top: 10%; right: 8%; } }

@media (orientation: portrait) and (min-width: 375px) and (min-height: 667px) { section.modal-wrap.active .modal { height: 24.8%; top: 50%; left: 50%; }
  section.modal-wrap.active .modal span.close { top: 3%; right: 1%; width: 23px; height: 23px; }
  section.modal-wrap.active .modal i.fa-times-circle { font-size: 20px; top: 9%; right: 8%; } }

@media (orientation: portrait) and (min-width: 375px) and (min-height: 812px) { section.modal-wrap.active .modal { height: 20.8%; top: 50%; left: 50%; }
  section.modal-wrap.active .modal span.close { top: 3%; right: 1%; width: 23px; height: 23px; }
  section.modal-wrap.active .modal i.fa-times-circle { font-size: 20px; top: 9%; right: 8%; } }

@media (orientation: portrait) and (min-width: 411px) { section.modal-wrap.active .modal { height: 21.6%; top: 50%; left: 50%; }
  section.modal-wrap.active .modal span.close { top: 3%; right: 1%; width: 25px; height: 25px; }
  section.modal-wrap.active .modal i.fa-times-circle { font-size: 20px; top: 12%; right: 10%; } }

@media (orientation: portrait) and (min-width: 414px) { section.modal-wrap.active .modal { height: 25.3%; top: 50%; left: 50%; }
  section.modal-wrap.active .modal span.close { top: 3%; right: 1%; width: 25px; height: 25px; }
  section.modal-wrap.active .modal i.fa-times-circle { font-size: 20px; top: 12%; right: 10%; } }

@media (orientation: portrait) and (min-width: 768px) { section.modal-wrap.active .modal { height: 33.4%; top: 50%; left: 50%; }
  section.modal-wrap.active .modal span.close { top: 3%; right: 1%; width: 45px; height: 45px; }
  section.modal-wrap.active .modal i.fa-times-circle { font-size: 40px; top: 7.3%; right: 6.3%; } }

@media (orientation: portrait) and (min-width: 1024px) and (min-height: 1366px) { section.modal-wrap.active .modal { height: 33.4%; top: 50%; left: 50%; }
  section.modal-wrap.active .modal span.close { top: 3%; right: 2%; width: 45px; height: 45px; }
  section.modal-wrap.active .modal i.fa-times-circle { font-size: 40px; top: 7.3%; right: 6.3%; } }

@media (orientation: landscape) { section.modal-wrap.active .modal { width: 95%; height: 74%; top: 45%; left: 50%; }
  section.modal-wrap.active .modal span.close { top: 3%; right: 1.3%; width: 28.8px; height: 28.8px; }
  section.modal-wrap.active .modal img { width: 83%; left: 8.5%; top: 0; }
  section.modal-wrap.active .modal .getGit { position: absolute; top: 101%; right: 0; left: -.5%; width: 100.7%; height: 35px; text-align: center; line-height: 28 px; background-color: red; text-decoration: none; color: #fff; font-family: 'Saira', sans-serif; border-bottom-left-radius: 50%; border-bottom-right-radius: 50%; }
  section.modal-wrap.active .modal i.fa-times-circle { position: absolute; font-size: 25px; top: 9.9%; right: 6.7%; } }

@media (orientation: landscape) and (min-width: 568px) { section.modal-wrap.active .modal { height: 79%; }
  section.modal-wrap.active .modal span.close { top: 2.5%; right: 1.2%; width: 32px; height: 32px; }
  section.modal-wrap.active .modal i.fa-times-circle { font-size: 27px; top: 8%; right: 8%; } }

@media (orientation: landscape) and (min-width: 640px) { section.modal-wrap.active .modal { height: 79.1%; }
  section.modal-wrap.active .modal span.close { top: 3%; right: 1.3%; width: 35px; height: 35px; }
  section.modal-wrap.active .modal .getGit { font-size: 20px; }
  section.modal-wrap.active .modal i.fa-times-circle { font-size: 30px; top: 8%; right: 7%; } }

@media (orientation: landscape) and (min-width: 667px) { section.modal-wrap.active .modal { height: 79.9%; }
  section.modal-wrap.active .modal span.close { top: 2.5%; right: 1.6%; width: 32px; height: 32px; }
  section.modal-wrap.active .modal i.fa-times-circle { font-size: 27px; top: 8%; right: 8%; } }

@media (orientation: landscape) and (min-width: 731px) { section.modal-wrap.active .modal { height: 75%; top: 46%; left: 50%; }
  section.modal-wrap.active .modal span.close { top: 3%; right: 1.6%; width: 55px; height: 55px; }
  section.modal-wrap.active .modal .getGit { top: 100.5%; left: -.3%; width: 100.5%; height: 35px; }
  section.modal-wrap.active .modal img { width: 78%; left: 11%; top: 0; }
  section.modal-wrap.active .modal i.fa-times-circle { font-size: 50px; top: 4%; right: 4%; } }

@media (orientation: landscape) and (min-width: 812px) { section.modal-wrap.active .modal { height: 84%; top: 46%; left: 50%; }
  section.modal-wrap.active .modal span.close { top: 6%; right: 4.5%; width: 55px; height: 55px; }
  section.modal-wrap.active .modal .getGit { top: 100.5%; left: -.3%; width: 100.5%; height: 35px; }
  section.modal-wrap.active .modal img { width: 72%; left: 11%; top: 0; }
  section.modal-wrap.active .modal i.fa-times-circle { font-size: 50px; top: 4%; right: 4%; } }

@media (orientation: landscape) and (min-width: 823px) { section.modal-wrap.active .modal { height: 84%; top: 46%; left: 50%; }
  section.modal-wrap.active .modal span.close { top: 3%; right: 1.6%; width: 55px; height: 55px; }
  section.modal-wrap.active .modal .getGit { top: 100.5%; left: -.3%; width: 100.5%; height: 35px; }
  section.modal-wrap.active .modal img { width: 78%; left: 11%; top: 0; }
  section.modal-wrap.active .modal i.fa-times-circle { font-size: 50px; top: 4%; right: 4%; } }

@media (orientation: landscape) and (min-width: 1024px) { section.modal-wrap.active .modal { height: 64%; top: 48%; left: 50%; }
  section.modal-wrap.active .modal span.close { top: 1.5%; right: 0.8%; width: 40px; height: 40px; }
  section.modal-wrap.active .modal .getGit { top: 100.5%; left: -.3%; width: 100.5%; height: 50px; line-height: 45px; font-size: 24px; }
  section.modal-wrap.active .modal img { width: 89%; left: 5.2%; top: 0; }
  section.modal-wrap.active .modal i.fa-times-circle { font-size: 36px; top: 8%; right: 4.9%; }
  section.modal-wrap.active .modal i.fa-times-circle:hover { cursor: pointer; } }

@media (min-width: 1900px) { section.modal-wrap.active .modal { height: 88.5%; top: 47%; left: 50%; }
  section.modal-wrap.active .modal span.close { top: 5%; right: 3%; width: 70px; height: 70px; }
  section.modal-wrap.active .modal .getGit { top: 100.3%; left: -0.1%; width: 100.2%; height: 50px; line-height: 45px; font-size: 24px; }
  section.modal-wrap.active .modal img { width: 80%; left: 10%; top: 0; height: 100%; }
  section.modal-wrap.active .modal i.fa-times-circle { font-size: 63px; top: 5%; right: 4.9%; } }

section.slogan { position: relative; height: 90vh; text-align: center; background-color: #000; color: #fff; }

section.slogan .slider { position: absolute; top: 0; left: 0; height: 90vh; width: 100%; filter: brightness(60%); }

section.slogan .trans-left { z-index: 1; position: absolute; top: 0; left: 0; height: 100%; background-color: rgba(0, 0, 0, 0.2); }

section.slogan .left-slider { position: absolute; top: 50%; left: 0; transform: translateY(-50%); }

section.slogan .trans-right { z-index: 2; position: absolute; top: 0; right: 0; height: 100%; background-color: rgba(0, 0, 0, 0.2); }

section.slogan .right-slider { position: absolute; top: 50%; transform: translateY(-50%); right: 0; }

section.slogan h1 { position: absolute; top: 15%; left: 0; font-family: 'Saira Extra Condensed', sans-serif; font-size: 26px; width: 100%; text-transform: uppercase; text-align: center; margin-bottom: 25px; }

section.slogan p { position: absolute; top: 5%; left: 0; right: 0; width: 100%; font-family: 'Saira', sans-serif; font-size: 18px; }

section.slogan p.author { top: 15%; font-size: 18px; margin-top: 20px; }

section.slogan .dots { position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%); }

section.slogan .dots span { display: inline-block; background-color: #000; margin: 0 13px; width: 15px; height: 15px; border-radius: 50%; box-shadow: 0 0 0 5px white; }

section.slogan .dots span.active { box-shadow: 0 0 0 5px white, 0 0 3px 10px red; }

@media (orientation: portrait) { section.slogan h1 { position: absolute; top: 5%; left: 0; font-family: 'Saira Extra Condensed', sans-serif; font-size: 36px; width: 100%; text-transform: uppercase; text-align: center; margin-bottom: 25px; }
  section.slogan p { position: absolute; top: 30%; left: 0; width: 70%; font-size: 16px; padding-left: 8%; padding-right: 8%; }
  section.slogan p.author { top: 83%; font-size: 12px; margin-top: 4px; }
  section.slogan .trans-left { width: 23%; }
  section.slogan .trans-right { width: 23%; }
  section.slogan .dots span { width: 9px; height: 9px; margin: 0 6px; box-shadow: 0 0 0 3px white; }
  section.slogan .dots span.active { box-shadow: 0 0 0 3px white, 0 0 3px 6px red; } }

@media (orientation: portrait) and (min-width: 320px) { section.slogan h1 { top: 8%; } }

@media (orientation: portrait) and (min-width: 360px) { section.slogan p { top: 38%; } }

@media (orientation: portrait) and (min-width: 411px) { section.slogan h1 { top: 15%; font-size: 45px; }
  section.slogan .trans-left { width: 20%; }
  section.slogan .trans-right { width: 20%; }
  section.slogan p { top: 40%; font-size: 18px; }
  section.slogan p.author { top: 85%; } }

@media (orientation: portrait) and (min-width: 768px) { section.slogan h1 { position: absolute; top: 12%; left: 0; font-family: 'Saira Extra Condensed', sans-serif; font-size: 78px; width: 100%; text-transform: uppercase; text-align: center; margin-bottom: 25px; }
  section.slogan p { top: 40%; font-size: 30px; }
  section.slogan p.author { top: 88%; font-size: 20px; }
  section.slogan .right-slider { width: 50%; left: 0; }
  section.slogan .left-slider { width: 50%; right: 0; }
  section.slogan .dots span { margin: 0 10px; box-shadow: 0 0 0 5px white; }
  section.slogan .dots span.active { box-shadow: 0 0 0 5px white, 0 0 5px 10px red; } }

@media (orientation: landscape) { section.slogan h1 { position: absolute; top: 5%; left: 0; font-family: 'Saira Extra Condensed', sans-serif; font-size: 36px; width: 100%; text-transform: uppercase; text-align: center; margin-bottom: 25px; }
  section.slogan p { top: 35%; width: 70%; font-size: 15px; padding-left: 5%; padding-right: 5%; margin-left: auto; margin-right: auto; }
  section.slogan p.author { top: 60%; font-size: 12px; margin-top: 40px; }
  section.slogan .trans-left { width: 13%; }
  section.slogan .trans-right { width: 13%; }
  section.slogan .dots { bottom: 8%; }
  section.slogan .dots span { margin: 0 10px; width: 9px; height: 9px; box-shadow: 0 0 0 3px white; }
  section.slogan .dots span.active { box-shadow: 0 0 0 3px white, 0 0 3px 6px red; } }

@media (orientation: landscape) and (min-width: 667px) { section.slogan .trans-left { width: 11%; }
  section.slogan .trans-right { width: 11%; } }

@media (orientation: landscape) and (min-width: 731px) { section.slogan .trans-left { width: 11%; }
  section.slogan .trans-right { width: 11%; } }

@media (orientation: landscape) and (min-width: 736px) { section.slogan p { font-size: 20px; }
  section.slogan p.author { top: 67%; } }

@media (orientation: landscape) and (min-width: 812px) { section.slogan .trans-left { width: 10%; }
  section.slogan .trans-right { width: 10%; } }

@media (orientation: landscape) and (min-width: 1024px) { section.slogan h1 { top: 10%; font-size: 86px; }
  section.slogan p { top: 42%; font-size: 35px; }
  section.slogan p.author { top: 75%; font-size: 20px; }
  section.slogan .right-slider { width: 50%; left: 0; }
  section.slogan .trans-left:hover { cursor: pointer; background-color: rgba(0, 0, 0, 0.5); }
  section.slogan .left-slider { width: 50%; right: 0; }
  section.slogan .trans-right:hover { cursor: pointer; background-color: rgba(0, 0, 0, 0.5); }
  section.slogan .dots { bottom: 8%; }
  section.slogan .dots span { margin: 0 20px; width: 15px; height: 15px; box-shadow: 0 0 0 6px white; }
  section.slogan .dots span.active { box-shadow: 0 0 0 6px white, 0 0 6px 12px red; } }

footer { min-height: 30vh; }
